<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="hme_clss">Change Password</ion-title>
<ion-buttons end>
</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content  style="width: 100%; float: left; background-image: url(assets/images/video_bg.png); background-attachment: fixed; background-size: cover;">
  <form [formGroup]="ChangepasswordForm" (submit)='changepassword(ChangepasswordForm)'>
  <ion-list>
  <div class="cvr_rds">
  <ion-item>
    <ion-label fixed class="lft_nmme">Old Password</ion-label>
    <ion-input class="rght_nmme" type="password" placeholder="*******" formControlName="oldpassword"></ion-input>
  </ion-item>
  <p *ngIf="!isValid('oldpassword')" color="danger" padding-left>Password must be greater than 6 char.</p>
    <ion-item>
    <ion-label fixed class="lft_nmme">New Password</ion-label>
    <ion-input class="rght_nmme" type="password" placeholder="********" formControlName="newpassword"></ion-input>
  </ion-item>
     <ion-item>
    <ion-label fixed class="lft_nmme">Confirm Password</ion-label>
    <ion-input class="rght_nmme" type="password" placeholder="********" formControlName="cnewpassword"></ion-input>
  </ion-item>
  <div class='form-text error' color="danger" *ngIf="ChangepasswordForm.controls.cnewpassword.touched">
      <div *ngIf="ChangepasswordForm.hasError('mismatchedPasswords')">Passwords do not match.</div>
    </div>
  </div>
     <button ion-button block class="sbnt_btn" type="submit" [disabled]="!ChangepasswordForm.valid">Submit</button>
  </ion-list>
  </form>
</ion-content>
