page-changepassword {
    span.button-inner {
        color: #f2f2f2;
    }
button.stl_btn {
    background: transparent;
}
.toolbar-background {
    border-color: #102024 !important;
    background: #102024 !important;
}
.hme_clss .toolbar-title{
    color:#fff;
}
.item{
    border-bottom: 1px solid #424242;
    background-color: transparent;
    min-height: 30px;
    width: 100%;
float: left;
background: #fff;
border-radius: 10px;
margin-bottom: 10px;
}
.cvr_rds {
width: 90%;
float: left;
margin: 45% 0 16px 16px;
}
.rght_nmme {
    color: #424242;
}
.lft_nmme {
    color: #424242 !important;
    font-weight: 600;
     margin: 0;
}
button.sbnt_btn {
    border-radius: 83px;
    padding: 11px 16px !important;
    width: 80%;
    margin: 13px auto auto auto;
    display: table;
    background: #42dbfe;
    color: #1e282b;
    font-weight: 600;
}
.rght_nmme .text-input{
text-align: right;
margin: 8px 0px;
}
}
