page-videolist {
    span.button-inner {
        color: #f2f2f2;
    }
button.stl_btn {
    background: transparent;
}
.toolbar-background {
    border-color: #102024 !important;
    background: #102024 !important;
}
.hme_clss .toolbar-title{
    color:#fff;
}
}
